.MyPage {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* user info section */
.userInfo {
  margin-top: 4rem;
  display: flex;
  width: 60%;
  align-items: flex-end;
  justify-content: space-between;
}
.clubUser {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.clubName {
  font-size: 0.9rem;
}
.user {
  font-size: 1.3rem;
  font-weight: bold;
}
.btn {
  border-radius: 0.4rem;
  border-style: none;
  padding: 0.2rem 0.8rem;
  color: white;  
}
.logout {
  background: linear-gradient(180deg, #539DDB 0%, rgba(83, 157, 219, 0) 100%), #084A83;
  margin-right: 0.4rem;
}
.exit {
  background: linear-gradient(180deg, #FF9292 0%, rgba(255, 115, 115, 0) 100%), #FF2424;
}

/* my post section */
.bar {
  display: flex;
  width: 60%;
  height: 3rem;
  margin-top: 2rem;
  align-items: center;
  background: rgba(198, 229, 243, 0.4);
  justify-content: space-between;
  font-weight: bold;
}
.bar > div:nth-child(1) {
  margin-left: 1rem;
}
.bar > div:nth-child(2) {
  margin-right: 1rem;
}
.post {
  display: flex;
  height: 2.5rem;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.postContainer {
  width: 55%;
}