.comment-wrapper {
  position: relative;
  justify-content: center;
  padding: 16px 24px;
  width: 100%;
  margin: auto;
}

.comment-list-wrapper {
  list-style: none;
  padding: 0;
}

.comment-list {
  margin-bottom: 24px;
  display: flex;
  flex-direction: column;
}
.comment-item {
  min-height: 100px;
  background: rgba(198, 229, 243, 0.2);;
  border-radius: 8px;

  display: flex;
}

.comment-title {
  color: #424242;
  font-size: 15px;
  margin-right: 0;
  margin-bottom: 4px;
  font-weight: bold;
}

.comment-content {
  min-width: 400px;
  font-weight: 400;
  margin-bottom: 4px;
  text-align: left;
}

.reply-button {
  float: right;
margin-top: 2%;
  font-size: 13px;
  border: none;
  background: #c6e5f3;
  border-radius: 2px;
  padding: 0px;
}

.comment-profile {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.reply-wrapper {
  margin-top: 20px;
  list-style: none;
}

.reply-item {
  display: flex;
  margin-bottom: 24px;
  background-color: #f7f8fa;
  padding: 20px;
  border-radius: 8px;
}

.input-wrapper {
  display: flex;
  flex: 1;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
}

.input {
  display: block;
  width: 100%;
  min-height: 38px;
  border: none;
  background: none;
  color: #424242;
  margin: 0;
  padding: 8px 15px 9px;
  font-family: inherit;
  font-size: 15px;
  line-height: 1.4;
  resize: none;
  overflow: hidden;
  word-wrap: break-word;
  box-sizing: border-box;
}

.submit {
  color: #084A83;
  border: none;
  background: none;
  padding: 0px;
  min-width: 50px;
}