.App {
  text-align: center;
  position: relative;
}
.post-title {
  width: 50%;
  text-align: left;
  margin-top: 10px;
  margin-left: auto;
  margin-left: auto;
  margin-right: auto;
  font-size: large;
  font-weight: 800;
}
.post-writer {
  width: 50%;
  margin: auto;
  text-align: right;

  font-size: smaller;
}
.post-date {
  text-align: right;
  width: 50%;
  margin: auto;
  text-align: right;

  font-size: x-small;
}
.post-text {
  min-height: 200px;
  border-style: solid;

  margin: auto;
  width: 50%;
}
.comment-section {

  text-align: left;
  margin-left: 250px;
}

.post-btn-row {
  width: 50%;
  margin: auto;
  text-align: right;

  text-align: right;
}
.rewrite-btn {
  margin-right: 3%;
  margin-top: 3%;
}

.delete-btn {
  margin-top: 3%;
}