.navBar {
  background-color: #c6e5f3;
  font-weight: bold;
}
.nav-logo {
  position: relative;
  width: 130px;
  left: 0px;
  background-size: contain;
}

.mypage-btn {
  background-color: #ffffe7;
  outline: none;
  color: black;
  position: absolute;
  top: auto;
  right: 40px;
  border-color: #ffffe7;
  border: 0;
  border-radius: 40px !important;
  padding: 0.5rem;
  font-weight: bold;
}

.nav-link {
  color: #084a83 !important;
}
